@import "mixins";
@import "fonts";

$fontFamily: "Gilroy";
$fontSize: 16;
$mobileWidth: 800px;

////////////////////////////////delete margin/////////////////
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
}
//////////////end delete margin////////////

.body {
  position: relative;
  // max-width: 1920px !important;
  margin: auto;
  font-family: Gilroy;
  &_inactive {
    display: none;
  }
}
.block {
  max-width: 100%;
  width: 945px;
  margin: 0 auto;
}
.header {
  max-width: 945px;
  margin: 0 auto;
  &__divider-line {
    max-width: 100%;
    width: 945px;
    height: 1px;
    background: #828282;
    @media (max-width: $mobileWidth) {
      display: none;
    }
  }
}
// .menu-dropdown-icon {
//   // &__stripe {
//   //   width: 33px;
//   //   height: 4px;
//   //   background: #000;
//   //   margin: 2px;
//   //   box-shadow: 0px 0px 5px white;
//   // }
// }
.menu {
  padding: 32px 10px 32px 10px;
  display: flex;
  justify-content: space-between;
  &__link {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    // text-decoration: none;
  }
  &__link:hover {
    color: #070707;
  }
  &__link_active {
    color: #070707;
  }
  &_desktop {
    @media (max-width: $mobileWidth) {
      display: none;
    }
  }
}

.overview {
  position: relative;
  height: auto;
  &__top-block {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: flex-end;
    padding: 40px 0 50px 0;
    @media (max-width: $mobileWidth) {
      display: block;
      content: "";
      padding: 56px 0px 37px 29px;
    }
  }
  &__bio {
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #070707;
  }
  &__bottom-block {
    margin: 0 0 104px 0;
    height: 387px;
    @media (max-width: $mobileWidth) {
      height: fit-content;
      margin: 0 29px 83px;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 10%;
  }
  &__name {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
  }
}
.change-language {
  padding-top: 43px;
  transform: rotate(-90deg);
  &_active {
    display: block;
  }
  &__language {
    font-family: Gilroy;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    display: inline;
  }
  &__divider {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #070707;
    display: inline;
  }
  &__language_active {
    color: #070707;
    display: inline;
  }
  &_desktop {
    @media (max-width: $mobileWidth) {
      display: none;
    }
  }
}
.wrap-about {
  background: #f6f6f6;
}
.about {
  padding: 120px 29px 107px 29px;
  @media (max-width: $mobileWidth) {
    padding: 81px 30px 76px 30px;
  }
  &__title {
    margin-bottom: 18px;
  }
  &__subtitle {
    max-width: 485px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  &__wrap-subtitle#first {
    max-width: 470px;
    margin-bottom: 50px;
  }
  &__wrap-subtitle#second {
    max-width: 400px;
  }
  &__wrap-subtitle#third {
    max-width: 320px;
    margin-top: 50px;
  }
}
.title {
  &__text {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
  }
}
.subtitle {
  &__text {
    font-family: $fontFamily;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
  }
}
.skills {
  // height: 610px;
  max-width: 925px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 91px 10px 110px 10px;
  margin: 0 auto;
  @media (max-width: $mobileWidth) {
    padding: 83px 73px 99px 73px;
  }
  &__program-skill-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 69px;
    @media (max-width: $mobileWidth) {
      margin-bottom: 50px;
    }
  }
  &__subtitle {
    margin-bottom: 84px;
    margin-bottom: 70px;
  }
}

.program-rate-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 161px;
  height: 202px;
  position: relative;
  @media (max-width: $mobileWidth) {
    margin: 0 0 81px 0;
    &:last-child {
      margin: 0;
    }
  }
  &__image {
    height: 89px;
    max-width: 100%;
    width: auto;
  }
  &__title {
    width: 90px;
    height: 28px;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-bottom: 18px;
  }
  &__star-rate {
    width: 162px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__star {
    width: 20px;
  }
  &__star_active {
    filter: brightness(0%);
  }
}
.portfolio {
  background: #f6f6f6;
  padding: 112px 0 96px 0;
  @media (max-width: $mobileWidth) {
    padding: 81px 0 81px 0;
  }
  &__title {
    padding: 0 0 48px 0;
    @media (max-width: $mobileWidth) {
      padding: 0 0 65px 0;
    }
  }
  &__examples {
    margin: 0 auto;
    max-width: 925px;
    & div.site-example {
      margin-bottom: 99px;
      padding: 0 10px;
      @media (max-width: $mobileWidth) {
        margin-bottom: 78px;
        padding: 0 30px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.site-example {
  text-align: center;
  padding: 0 30px;
  &__screenshot {
    max-width: 100%;
    width: 936px;
    height: auto;
    margin-bottom: 45px;
  }
  &__link {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
  }
}

.contacts {
  text-align: center;
  padding: 114px 0 123px 0;
  @media (max-width: $mobileWidth) {
    padding: 82px 0 90px 0;
  }
  &__title {
    padding-bottom: 20px;
    @media (max-width: $mobileWidth) {
      padding-bottom: 27px;
    }
  }
  &__subtitle {
    padding-bottom: 30px;
    @media (max-width: $mobileWidth) {
      padding-bottom: 40px;
    }
  }
  &__button {
    margin-bottom: 86px;
    @media (max-width: $mobileWidth) {
      margin-bottom: 48px;
    }
  }
}
button {
  height: 42px;
  width: 180px;
  left: 0px;
  top: 0px;
  border: 0;
  border-radius: 21px;
  background: #070707;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.social-media-links {
  &__item-row {
    margin: 0 auto;
    margin-bottom: 45px;
    max-width: 342px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobileWidth) {
      margin-bottom: 48px;
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
  &__link {
    // text-decoration: none;
  }
  &__subtitle {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
  }
}

$color: black;
$height-icon: 33px;
$width-line: 37px;
$height-line: 4px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

#hamburger-icon {
  display: none;
  width: 37px;
  height: 33px;
  position: fixed;
  right: 30px;
  top: 68px;
  @media (max-width: $mobileWidth) {
    display: block;
    z-index: 1;
  }

  .line {
    display: block;
    background: $color;
    width: $width-line;
    height: $height-line;
    position: absolute;
    left: 0;
    border-radius: ($height-line / 2);
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    box-shadow: 0px 0px 5px gray;

    &.line-1 {
      top: 0;
    }
    &.line-2 {
      top: 50%;
    }
    &.line-3 {
      top: 100%;
    }
  }
  &:hover,
  &:focus {
    .line-1 {
      transform: translateY($height-line / 2 * -1);
      -webkit-transform: translateY($height-line / 2 * -1);
      -moz-transform: translateY($height-line / 2 * -1);
    }
    .line-3 {
      transform: translateY($height-line / 2);
      -webkit-transform: translateY($height-line / 2);
      -moz-transform: translateY($height-line / 2);
    }
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX)
        rotate($rotation);
      -webkit-transform: translateY($translateY) translateX($translateX)
        rotate($rotation);
      -moz-transform: translateY($translateY) translateX($translateX)
        rotate($rotation);
    }
    .line-2 {
      opacity: 0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX)
        rotate($rotation * -1);
      -webkit-transform: translateY($translateY * -1) translateX($translateX)
        rotate($rotation * -1);
      -moz-transform: translateY($translateY * -1) translateX($translateX)
        rotate($rotation * -1);
    }
  }
}

.mobile-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: none;
  z-index: 1;
  &_active {
    display: block;
  }
  &__nav {
    position: absolute;
    top: 66px;
    left: 26px;
    flex-direction: column;
    font-size: 34px;
    line-height: 42px;
  }
  &__link {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 60px;
  }
  &__change-language {
    position: fixed;
    bottom: 57px;
    right: 28px;
  }
  &__language {
    font-size: 34px;
    line-height: 42px;
  }
}
