@import "mixins";
@import "fonts";

$fontFamily: "Gilroy";
$fontSize: 16;

////////////////////////////////delete margin/////////////////
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
}
//////////////end delete margin////////////

.body {
  position: relative;
  // max-width: 1920px !important;
  margin: auto;
  font-family: Gilroy;
}
.block {
  max-width: 100%;
  width: 945px;
  margin: 0 auto;
}
.header {
  max-width: 945px;
  margin: 0 auto;
  &__divider-line {
    max-width: 100%;
    width: 945px;
    height: 1px;
    background: #828282;
    @media (max-width: 800px) {
      display: none;
    }
  }
}
.menu-dropdown-icon {
  display: none;
  width: 37px;
  height: 33px;
  position: fixed;
  right: 30px;
  top: 68px;
  cursor: pointer;
  &__stripe {
    width: 33px;
    height: 4px;
    background: #000;
    margin: 2px;
    box-shadow: 0px 0px 5px white;
  }
  @media (max-width: 800px) {
    display: block;
  }
}
.menu {
  padding: 32px 10px 32px 10px;
  display: flex;
  justify-content: space-between;
  &__link {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    // text-decoration: none;
  }
  &__link_active {
    color: #070707;
  }
  &__link_inactive {
    color: #828282;
  }
  @media (max-width: 800px) {
    display: none;
  }
}
.overview {
  position: relative;
  height: auto;
  &__top-block {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: flex-end;
    padding: 40px 0 50px 0;
    @media (max-width: 800px) {
      display: block;
      content: "";
      padding: 56px 0px 37px 29px;
    }
  }
  &__bio {
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #070707;
  }
  &__bottom-block {
    margin: 0 0 104px 0;
    height: 387px;
    @media (max-width: 800px) {
      height: fit-content;
      margin: 0 29px 83px;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 10%;
  }
  &__name {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
  }
  // @media (max-width: 800px) {
  //   //// переделать на relative, чтобы высота сама подбиралась
  //   height: 100wp;
  // }
}
.change-language {
  padding-top: 43px;
  transform: rotate(-90deg);
  &__language {
    font-family: Gilroy;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
  }
  &__divider {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #070707;
    display: inline;
  }
  &__language_active {
    color: #070707;
    display: inline;
  }
  &__language_inactive {
    display: inline;
  }
  @media (max-width: 800px) {
    display: none;
  }
}
.wrap-about {
  background: #f6f6f6;
}
.about {
  padding: 120px 29px 107px 29px;
  @media (max-width: 800px) {
    padding: 81px 30px 76px 30px;
  }
  &__title {
    margin-bottom: 18px;
  }
  &__subtitle {
    max-width: 485px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  &__wrap-subtitle#first {
    max-width: 470px;
    margin-bottom: 50px;
  }
  &__wrap-subtitle#second {
    max-width: 400px;
  }
  &__wrap-subtitle#third {
    max-width: 320px;
    margin-top: 50px;
  }
}
.title {
  &__text {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
  }
}
.subtitle {
  &__text {
    font-family: $fontFamily;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
  }
}
.skills {
  // height: 610px;
  max-width: 925px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 91px 10px 110px 10px;
  margin: 0 auto;
  @media (max-width: 800px) {
    padding: 83px 73px 99px 73px;
  }
  &__program-skill-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 69px;
    @media (max-width: 800px) {
      margin-bottom: 50px;
    }
  }
  &__subtitle {
    margin-bottom: 84px;
    margin-bottom: 70px;
  }
}

.program-rate-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 161px;
  height: 202px;
  position: relative;
  @media (max-width: 800px) {
    margin: 0 0 81px 0;
    &:last-child {
      margin: 0;
    }
  }
  &__image {
    height: 89px;
    max-width: 100%;
    width: auto;
  }
  &__title {
    width: 90px;
    height: 28px;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-bottom: 18px;
  }
  &__star-rate {
    width: 162px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__star {
    width: 20px;
  }
  &__star_active {
    filter: brightness(0%);
  }
}
.portfolio {
  background: #f6f6f6;
  padding: 112px 0 96px 0;
  @media (max-width: 800px) {
    padding: 81px 0 81px 0;
  }
  &__title {
    padding: 0 0 48px 0;
    @media (max-width: 800px) {
      padding: 0 0 65px 0;
    }
  }
  &__examples {
    margin: 0 auto;
    max-width: 925px;
    & div.site-example {
      margin-bottom: 99px;
      padding: 0 10px;
      @media (max-width: 800px) {
        margin-bottom: 78px;
        padding: 0 30px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.site-example {
  text-align: center;
  padding: 0 30px;
  &__screenshot {
    max-width: 100%;
    width: 936px;
    height: auto;
    margin-bottom: 45px;
  }
  &__link {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
  }
}

.contacts {
  text-align: center;
  height: 622px;
  &__title {
    padding: 114px 0 20px 0;
  }
  &__subtitle {
    padding-bottom: 30px;
  }
  &__button {
    margin-bottom: 86px;
  }
}
button {
  height: 42px;
  width: 180px;
  left: 0px;
  top: 0px;
  border: 0;
  border-radius: 21px;
  background: #070707;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.social-media-links {
  &__item-row {
    margin: 0 auto;
    margin-bottom: 45px;
    max-width: 342px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
  &__link {
    // text-decoration: none;
  }
  &__subtitle {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
  }
}
