@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Gilroy-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Gilroy-Medium.woff2") format("woff2");
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

.body {
  position: relative;
  margin: auto;
  font-family: Gilroy;
}

.block {
  max-width: 100%;
  width: 945px;
  margin: 0 auto;
}

.header {
  max-width: 945px;
  margin: 0 auto;
}
.header__divider-line {
  max-width: 100%;
  width: 945px;
  height: 1px;
  background: #828282;
}
@media (max-width: 800px) {
  .header__divider-line {
    display: none;
  }
}

.menu-dropdown-icon {
  display: none;
  width: 37px;
  height: 33px;
  position: fixed;
  right: 30px;
  top: 68px;
  cursor: pointer;
}
.menu-dropdown-icon__stripe {
  width: 33px;
  height: 4px;
  background: #000;
  margin: 2px;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}
@media (max-width: 800px) {
  .menu-dropdown-icon {
    display: block;
  }
}

.menu {
  padding: 32px 10px 32px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__link {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.menu__link_active {
  color: #070707;
}
.menu__link_inactive {
  color: #828282;
}
@media (max-width: 800px) {
  .menu {
    display: none;
  }
}

.overview {
  position: relative;
  height: auto;
}
.overview__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 0 50px 0;
}
@media (max-width: 800px) {
  .overview__top-block {
    display: block;
    content: "";
    padding: 56px 0px 37px 29px;
  }
}
.overview__bio {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #070707;
}
.overview__bottom-block {
  margin: 0 0 104px 0;
  height: 387px;
}
@media (max-width: 800px) {
  .overview__bottom-block {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 29px 83px;
  }
}
.overview__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}
.overview__name {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}

.change-language {
  padding-top: 43px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.change-language__language {
  font-family: Gilroy;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}
.change-language__divider {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #070707;
  display: inline;
}
.change-language__language_active {
  color: #070707;
  display: inline;
}
.change-language__language_inactive {
  display: inline;
}
@media (max-width: 800px) {
  .change-language {
    display: none;
  }
}

.wrap-about {
  background: #f6f6f6;
}

.about {
  padding: 120px 29px 107px 29px;
}
@media (max-width: 800px) {
  .about {
    padding: 81px 30px 76px 30px;
  }
}
.about__title {
  margin-bottom: 18px;
}
.about__subtitle {
  max-width: 485px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.about__wrap-subtitle#first {
  max-width: 470px;
  margin-bottom: 50px;
}
.about__wrap-subtitle#second {
  max-width: 400px;
}
.about__wrap-subtitle#third {
  max-width: 320px;
  margin-top: 50px;
}

.title__text {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.subtitle__text {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.skills {
  max-width: 925px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 91px 10px 110px 10px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .skills {
    padding: 83px 73px 99px 73px;
  }
}
.skills__program-skill-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 800px) {
  .skills__program-skill-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.skills__title {
  margin-bottom: 69px;
}
@media (max-width: 800px) {
  .skills__title {
    margin-bottom: 50px;
  }
}
.skills__subtitle {
  margin-bottom: 84px;
  margin-bottom: 70px;
}

.program-rate-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 161px;
  height: 202px;
  position: relative;
}
@media (max-width: 800px) {
  .program-rate-block {
    margin: 0 0 81px 0;
  }
  .program-rate-block:last-child {
    margin: 0;
  }
}
.program-rate-block__image {
  height: 89px;
  max-width: 100%;
  width: auto;
}
.program-rate-block__title {
  width: 90px;
  height: 28px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-bottom: 18px;
}
.program-rate-block__star-rate {
  width: 162px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.program-rate-block__star {
  width: 20px;
}
.program-rate-block__star_active {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

.portfolio {
  background: #f6f6f6;
  padding: 112px 0 96px 0;
}
@media (max-width: 800px) {
  .portfolio {
    padding: 81px 0 81px 0;
  }
}
.portfolio__title {
  padding: 0 0 48px 0;
}
@media (max-width: 800px) {
  .portfolio__title {
    padding: 0 0 65px 0;
  }
}
.portfolio__examples {
  margin: 0 auto;
  max-width: 925px;
}
.portfolio__examples div.site-example {
  margin-bottom: 99px;
  padding: 0 10px;
}
@media (max-width: 800px) {
  .portfolio__examples div.site-example {
    margin-bottom: 78px;
    padding: 0 30px;
  }
}
.portfolio__examples div.site-example:last-child {
  margin-bottom: 0;
}

.site-example {
  text-align: center;
  padding: 0 30px;
}
.site-example__screenshot {
  max-width: 100%;
  width: 936px;
  height: auto;
  margin-bottom: 45px;
}
.site-example__link {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #070707;
}

.contacts {
  text-align: center;
  padding: 114px 0 123px 0;
}
@media (max-width: 800px) {
  .contacts {
    padding: 82px 0 90px 0;
  }
}
.contacts__title {
  padding-bottom: 20px;
}
@media (max-width: 800px) {
  .contacts__title {
    padding-bottom: 27px;
  }
}
.contacts__subtitle {
  padding-bottom: 30px;
}
@media (max-width: 800px) {
  .contacts__subtitle {
    padding-bottom: 40px;
  }
}
.contacts__button {
  margin-bottom: 86px;
}
@media (max-width: 800px) {
  .contacts__button {
    margin-bottom: 48px;
  }
}

button {
  height: 42px;
  width: 180px;
  left: 0px;
  top: 0px;
  border: 0;
  border-radius: 21px;
  background: #070707;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.social-media-links__item-row {
  margin: 0 auto;
  margin-bottom: 45px;
  max-width: 342px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 800px) {
  .social-media-links__item-row {
    margin-bottom: 48px;
  }
}
.social-media-links__icon {
  width: 40px;
  height: 40px;
}
.social-media-links__subtitle {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}